@import 'variables';

.page-footer {
  background-color: $teal-variant;
  padding-left: 0;
  border-top: 2px solid #ffffff;
}

.footer-copyright {
  background-color: $dark-goldenrod;
  border-top: 2px solid #ffffff;
  color: rgba(255, 255, 255, 1);

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}