<footer class="page-footer">
  <div id="footer-section" class="container">
    <div class="section">
      <div class="row">
        <div class="col m1"></div>

        <div class="col s12 m10">
          <h5 class="center white-text">Personal Projects</h5>
          <p class="grey-text text-lighten-4">
            Feel free to check my GitHub profile for ongoing personal projects &mdash;
            <a href="https://github.com/nicomiguelino#-personal-side-projects"
              target="_blank">github.com/nicomiguelino</a>. You can follow me as well.
          </p>
        </div>

        <div class="col m1"></div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      &copy; <span id="copyright_year">{{ currentYear }}</span> Nico Miguelino,
      <a href="https://materializecss.com/" target="_blank">Materialize</a>
    </div>
  </div>
</footer>
