$brick-red: #b72b3d;
$teal-variant: #4a9590;

.page-footer {
  background-color: $teal-variant;
  padding-left: 0;
}

.footer-copyright {
  background-color: $brick-red;

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}