@import 'variables';
@import 'fonts';
@import 'mixins';

* {
  font-family: 'Merriweather', serif;

  &::selection {
    @include default-highlight;
  }

  &::-moz-selection {
    @include default-highlight;
  }
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: 700;
}

p {
  padding-top: 1em;
  line-height: 2;
}

.content-group {
  background-color: $rose-pink;
  color: #ffffff;
  border-top: 2px solid #ffffff;
}

#intro-section {
  min-height: 100vh;
  display: flex;
  padding: 3em 0em 3em 0em;

  .section {
    margin: auto;

    .row {
      margin-bottom: 0px;
    }
  }
}