@import 'fonts';

#index-banner {
  padding: 50px 0;
  min-height: 100vh;
  display: flex;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)),
    url('../../assets/images/banner-image.jpg');

  background-size: cover;
  background-attachment: fixed;

  .container {
    margin: auto;
  }

  h1, h5 {
    margin: 0;
    user-select: none;
  }

  h1 {
    padding: 0 1em;
    font-weight: 700;
  }

  h5 {
    margin-top: 20px;

    .chip {
      font-family: 'Roboto Mono', serif;
      font-weight: 600;
      font-size: 12pt;
    }
  }
}

@media screen and (max-width: 480px) {
  #index-banner{
    h1 {
      font-size: 30pt;
      padding: 0;
    }

    h5 {
      font-size: 14pt;
    }
  }
}
