#index-banner {
  padding: 50px 0;
  height: 100vh;
  display: flex;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.7)),
    url('../../assets/images/banner-image.jpg');

  background-size: cover;

  .container {
    margin: auto;
  }

  h1, h5 {
    margin: 0;
  }

  h5 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  #index-banner{
    h1 {
      font-size: 30pt;
    }

    h5 {
      font-size: 14pt;
    }
  }
}
