<app-banner></app-banner>

<div class="content-group">
  <div id="intro-section" class="container">
    <div class="section">
      <div class="row">
        <div class="col m1"></div>

        <div class="col s12 m10">
            <h5 class="center" style="padding-bottom: 1em;">Ba-dum, tss!</h5>

            <p class="light">
              Just your usual software developer.
              I've been developing software using C++ and Python for a couple of years.
            </p>

            <p class="light">
              I've been recently transitioning from systems programming to web development, exploring front-end technologies like React and Angular.
            </p>

            <p class="light">
              Interests include the following &mdash; music, computer programming, and cats.
            </p>
        </div>

        <div class="col m1"></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>