<div class="section teal darken-1" id="index-banner">
    <div class="container">
      <h1 class="header center white-text">Nico Miguelino</h1>
      <h5 class="header col s12 light white-text center">Software developer</h5>
    </div>
</div>

<div class="container">
  <div class="section" style="padding: 5em 0;">
    <div class="row">
      <div class="col s12 m12">
          <div class="social-buttons">
            <a href="https://www.linkedin.com/in/nico-miguelino-640565122/" target="_blank" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
              <span class="social-button__inner">
               <i class="fab fa-linkedin-in"></i>
              </span>
            </a>
            <a href="https://github.com/nicomiguelino" class="social-buttons__button social-button social-button--github" target="_blank" aria-label="GitHub">
              <span class="social-button__inner">
               <i class="fab fa-github"></i>
              </span>
            </a>
            <a href="https://www.facebook.com/nmiguelino" class="social-buttons__button social-button social-button--facebook" target="_blank" aria-label="Facebook">
              <span class="social-button__inner">
               <i class="fab fa-facebook-f"></i>
              </span>
            </a>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col m1"></div>

      <div class="col s12 m10">
        <div class="icon-block">
          <h5 class="center">About</h5>

          <p class="light">
            Hello there! Just your usual software developer. I've been developing software using C++
            and Python for almost 3 years. Sometimes, I like to automate some tasks using scripts
            and stuff.
          </p>

          <p class="light">
            When not coding, I'm most likely doing the following &mdash; sleeping, listening to music, and playing guitar & bass.
          </p>
        </div>
      </div>

      <div class="col m1"></div>
    </div>
  </div>
</div>

<footer class="page-footer teal darken-1" style="flex: 1 0 auto;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What's this?</h5>
        <p class="grey-text text-lighten-4">Just your usual personal website</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright red darken-3">
    <div class="container center">
      &copy; <span id="copyright_year">{{ currentYear }}</span> Nico Miguelino
    </div>
  </div>
</footer>

<router-outlet></router-outlet>