@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$light-yellow: #fff2a8;
$brick-red: #d75364;

@mixin default-highlight {
  background: $light-yellow;
  color: #000000;
}

* {
  font-family: 'Merriweather', serif;

  &::selection {
    @include default-highlight;
  }

  &::-moz-selection {
    @include default-highlight;
  }
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

p {
  padding-top: 1em;
  line-height: 2;
}

.content-group {
  background-color: $brick-red;
  color: #ffffff;
}

#intro-section {
  min-height: 100vh;
  display: flex;
  padding: 3em 0em 3em 0em;

  .section {
    margin: auto;

    .row {
      margin-bottom: 0px;
    }
  }
}