@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

$light-pink: #e98195;

* {
  font-family: 'Roboto Slab', serif;

  &::selection {
    background: $light-pink;
  }

  &::-moz-selection {
    background: $light-pink;
  }
}

.icon-block {
  padding: 0 15px;

  .material-icons {
    font-size: inherit;
  }
}